<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Capstone: Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Weather Journal App
    </div>
    <div class="holder zip">
      <label for="city">Enter City here</label>
      <input type="text" id="city" placeholder="enter city here">
    </div>
    <div class="holder feel">
        <label for="date">Enter Date here</label>
        <input type="date" id="date" placeholder="enter start date here">
        <br>
        <input type="date" id="endDate" placeholder="enter end date here">
        <br>
      <button id="generate" type="submit"> Generate </button>
    </div>
    <div class="holder entry" id="entryHolder">
      <div class="title">Most Recent Entry</div>
      <div id="entryHolder">
        <div id="city"></div>
        <div id="temp"></div>
        <div id="content"></div>
        <div id="duration"></div>
        <div id="countryInfo"></div>
      </div>
    </div>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>
</body>

</html>